html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: url("/images/bg.jpg") no-repeat center center;
  background-size: cover;
}


/* Root Layout */
.app {
  height: 100vh;
  overflow: hidden;
}

/* Fixed Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background: rgba(0, 0, 0, 0.95);
  border-bottom: 1px solid #1e293b;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

/* Scrollable Middle Section */
.content {
  position: absolute;
  top: 70px;
  bottom: 180px;
  left: 0;
  right: 0;
  overflow-y: auto;
}

/* Surah List */
.list {
  padding: 0;
}

.surah-item {
  padding: 14px;
  border-bottom: 1px solid #1e293b;
  cursor: pointer;
}

.surah-item.active {
  background: #0f172a;
}

/* Fixed Bottom Player */
.bottom-player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 120px;
  background: rgba(0, 0, 0, 0.95);
  border-top: 1px solid #1e293b;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px;
  z-index: 10;
}

/* Controls */
.controls {
  display: flex;
  justify-content: center;
}

.controls button {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  margin: 0 8px;
}

.play-btn {
  font-size: 28px;
  color: #22c55e;
}

.progress {
  width: 100%;
}
